{{ define "main" }}
<header id="top">
  <img src="/assets/Dimas.jpg" alt="Dimas Suryo" class="profile-pic" />
  <div>
    <h1>{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.tagline }}</p>
  </div>
</header>

<main>
  <section id="about">
    <h2>About</h2>
    <p>TL;DR I read, I write, and I build.</p>
    <p>
      Hi, I'm <strong>Dimas</strong>, Accounting student @ UI, but I'm more of a
      Financial Market guy, with a broader curiosity spanning Progress Studies,
      AI-ML Safety, and Systems Thinking, oh and uh Effective Altruism.
    </p>
    <p>
      That's practically why I seek cross-industry experience to understand
      global interconnectedness.
    </p>
    <p>
      I also do: Bouldering (V5 plateau), chess (1600 ELO is all I got), poker
      (negative EV in tournament, positive EV in cash), I jam to blues, and
      guess what, I have good dribbling skills (Messi regen?).
    </p>
  </section>

  <section id="blog">
    <h2>Blog</h2>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    <p><a href="/blog/">View all posts →</a></p>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Section"
      "projects").ByDate.Reverse }} {{ $href := .RelPermalink }} {{ with
      .Params.external_url }}{{ $href = . }}{{ end }}
      <li><a href="{{ $href }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    <p><a href="/projects/">View all projects →</a></p>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: <a href="mailto:dimassuryo@aol.com">dimassuryo@aol.com</a></p>
  </section>
</main>
{{ end }}
